*
!.gitignore
!.vercelignore
!index.html
!styles.css
!vercel.json
!assets/
!assets/responsive/
!assets/responsive/logo-96.png
!assets/responsive/logo-96.webp
!assets/responsive/render-12-900.png
!assets/responsive/render-12-900.webp
!assets/responsive/render-12-1600.png
!assets/responsive/render-12-1600.webp
!assets/responsive/render-12-2400.png
!assets/responsive/render-12-2400.webp
!assets/responsive/render-6-640.png
!assets/responsive/render-6-640.webp
!assets/responsive/render-6-1280.png
!assets/responsive/render-6-1280.webp
!assets/responsive/render-6-1920.png
!assets/responsive/render-6-1920.webp
!assets/responsive/image-3-480.png
!assets/responsive/image-3-480.webp
!assets/responsive/image-3-686.png
!assets/responsive/image-3-686.webp
!assets/responsive/render-9-640.png
!assets/responsive/render-9-640.webp
!assets/responsive/render-9-1280.png
!assets/responsive/render-9-1280.webp
!assets/responsive/render-9-1920.png
!assets/responsive/render-9-1920.webp
.vercel
